@using System.Text.Json.Serialization
@using Newtonsoft.Json
@model Deck

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quizlet</title>
    <script defer src="~/js/script.js"></script>
    <script src="~/js/blackbox-this.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" asp-append-version="true">
    <link rel="stylesheet" href="~/css/MainStyles.css" asp-append-version="true"/>

</head>

<body>

<main class="main">


    <div class="container">


        <div class="card mt-5 p-2 pb-3">
            <h3>Название</h3>
            <input class="form-control w-100" name = "title" placeholder="Введите название">
        </div>

        <form asp-controller="Cards" asp-action="Create" method="post" class="cards" id="deckForm">
            <div class="card mt-6">

                <div class="header d-flex justify-content-between p-3">
                    <h4 class="card-counter">1</h4>
                    
                    <a class="button-bin btn" id="firstCard" ></a>

                </div>

                <div class="card-body row">
                    <div class="term col">
                        <h3>Термин</h3>
                        <input class="form-control w-100" name="term" placeholder="Введите термин" required>
                        <span class = "error"></span>
                    </div>
                    <div class="definition col">
                        <h3>Определение</h3>
                        <input class="form-control w-100" name="definition" placeholder="Введите определение" required>
                        <span class = "error"></span>

                    </div>
                </div>
            </div>

            <button type="submit" id="create-cards" class="btn btn-primary mt-2">Создать</button>
        </form>

        <button class="new-card w-100 d-flex justify-content-center align-items-center mt-4 mt-s rounded-2" style="height: 5rem" type="button">
            <h3>+ Добавить карточку</h3>
        </button>

    </div>

</main>

</body>

</html>